<link href="https://fonts.googleapis.com/css?family=Orbitron|Spectral+SC|Antic+Slab|Architects+Daughter" rel="stylesheet">
div.image1:hover {
	opacity: 0.7;
}
div.image2:hover {
	opacity: 0.7;
}
div.image1{
	animation-name: appr;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;
}
div.image2{
	animation-name: appr1;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 4s;
	animation-direction: alternate;
}
div.hedtx{
	font-family: 'Architects Daughter', cursive;
	color: white;
	text-align: center;
	font-size: 25px;
	animation-name: bwid;
	animation-duration: 8s;
}
.botx {
	width: 100%;
	font-family: 'Architects Daughter', cursive;
	color: white;
	font-size: 25px;
	animation-name: bwid;
	animation-duration: 8s;
}
.gif{        
	border-radius: 12px;
	height: 42;
	width: 42;
}
.gif:hover{
	transition: top 1s ease;
	border: solid black;
}

div.image1 img{
	width: 100%;
	height: auto;
	border-radius: 0px 25px 0px 25px;
	border: 2.5px solid #ccc;
}
div.image2 img{
	width: 100%;
	height: auto;
	border-radius: 25px 0px 25px 0px;
	border: 2.5px solid #ccc;
}
div.desc {
	padding: 15px;
	text-align: center;
	color: white;
	font-family: 'Orbitron', serif;
	font-size: 15px;
}
* {
	box-sizing: border-box;
}
.bigwin {
	padding: 0 6px;
	float: left;
	width: 25%;
}
@media only screen and (max-width: 700px){
	.bigwin {
		width: 50%;
		margin: 6px 0;
	}
}
@media only screen and (max-width: 500px){
	.bigwin {
		width: 100%;
	}
}
@keyframes bwid{
	from {opacity:0}
	to {opacity:4}
}
@keyframes appr{
	0%{
		opacity:1;
	}
	45%{
		opacity:1;
	}
	55%{
		opacity:0;
	}
	100%{
		opacity:0;
	}
}
@keyframes appr1{
	0%{
		opacity:0;
	}
	45%{
		opacity:0;
	}
	55%{
		opacity:1;
	}
	100%{
		opacity:1;
	}
}
